@model Moneta.Application.ViewModels.GraficosViewModel
@using Newtonsoft.Json
@using Moneta.MVC.CustomHelpers

<div class="jumbotron">
    <h2>Seja bem vindo ao $ Moneta!</h2>
    <p class="lead">Seu software de gestão financeira pessoal.</p>
</div>

<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "formFiltros" }))
    {
        @Html.DropDownListFor(g => g.ContaIdFiltro, (SelectList)@ViewBag.Contas, "-- Todas as Contas --", new { @class = "form-control" })
        
        @*Por algum motivo o hidden for está setando errado o valor da data*@
        <input type="hidden" name="MesAnoCompetencia" id="MesAnoCompetencia" value="@Model.MesAnoCompetencia.ToString("yyyy-MM-dd")" />
    }
</div>

@Html.MesAnoControle(Model.MesAnoCompetencia, (Guid)Model.ContaIdFiltro, "AlterarMes", "Home")

<!-- GRAFICO ORÇADO X REALIZADO -->
<br /><hr />
<div>
    <h4 class="text-center">Orçado x Realizado</h4>
    <div id="divGraficoOrcadoVsRealizado">
        <canvas id="graficoOrcadoVsRealizado"></canvas>
    </div>
</div>

<!-- GRAFICO DESPESAS POR CATEGORIA -->
<br />
<div id="divProcessando"></div>
<div>
    <h4 class="text-center">Despesas por Categoria</h4>
    <div>
        @Html.CheckBox("ckbSomentePagos") Mostrar somente despesas pagas
    </div>
    <div id="divGraficoSaldoPorCategoria"></div>
</div>

<!-- GRAFICO SALDO POR DIA -->
<br /><hr />
<div>
    <h4 class="text-center">Saldo por Dia</h4>
    <canvas id="graficoSaldoDoMes"></canvas>
</div>

@section Scripts {
<script src="~/Scripts/charts.js/Chart.bundle.min-2.3.0.js"></script>
<script src="~/Scripts/charts.js/GraficoSaldoDoMes.js"></script>
<script src="~/Scripts/charts.js/GraficoSaldoPorCategoria.js"></script>
<script src="~/Scripts/charts.js/GraficoOrcadoVsRealizado.js"></script>
<script type="text/javascript">
    gerarGraficoSaldoDoMes('@Model.GraficoSaldoDoMes.ArrayDeDias', '@Model.GraficoSaldoDoMes.ArrayDeReceitas',
        '@Model.GraficoSaldoDoMes.ArrayDeDespesas', '@Model.GraficoSaldoDoMes.ArrayDeSaldos');
    gerarGraficoSaldoPorCategoria('@Html.Raw(Model.GraficoSaldoPorCategoria.ArrayDeCategorias)',
        '@Html.Raw(Model.GraficoSaldoPorCategoria.ArrayDeCores)',
        '@Model.GraficoSaldoPorCategoria.ArrayDeSaldosRealizados');
    gerarGraficoOrcadoVsRealizado('@Html.Raw(Model.GraficoOrcadoVsRealizado.ArrayDeCategorias)',
        '@Html.Raw(Model.GraficoOrcadoVsRealizado.ArrayDeCores)',
        '@Model.GraficoOrcadoVsRealizado.ArrayDeSaldosRealizados',
        '@Model.GraficoOrcadoVsRealizado.ArrayDeOrcamentos');

    $(function () {
        $('#ContaIdFiltro').change(function () {
            $('#formFiltros').submit();
        });

        $('#ckbSomentePagos').change(function () {
            var somentePagos = document.getElementById("ckbSomentePagos").checked;
            getDadosDespesasPorCategoria('@Model.ContaIdFiltro', '@Model.MesAnoCompetencia.ToString("yyyy-MM-dd")', somentePagos);
        });
    });

    function getDadosDespesasPorCategoria(contaIdFiltro, mesAnoCompetencia, somentePagos) {
        $.get("/Home/GetDadosDespesasPorCategoria",
            { ContaIdFiltro: contaIdFiltro, MesAnoCompetencia: mesAnoCompetencia, SomentePagos: somentePagos },
            function (data) {
                if (data.status === 'Ok') {
                    gerarGraficoSaldoPorCategoria(data.arrayDeCategorias, data.arrayDeCores, data.arrayDeSaldos);
                }
                else {
                    alert("Desculpa, ocorreu na geração do gráfico!");
                }
            }
        );
    }
</script>
}