@model Moneta.Application.ViewModels.GraficosViewModel
@using Newtonsoft.Json
@using Moneta.MVC.CustomHelpers

<div class="jumbotron">
    <h2>Seja bem vindo ao $ Moneta!</h2>
    <p class="lead">Seu software de gestão financeira pessoal.</p>
</div>

<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "formFiltros" }))
    {
        @Html.DropDownListFor(g => g.ContaIdFiltro, (SelectList)@ViewBag.Contas, "-- Todas as Contas --", new { @class = "form-control" })
        <input type="hidden" name="MesAnoCompetencia" id="MesAnoCompetencia" value="@Model.MesAnoCompetencia" />
    }
</div>
@Html.MesAnoControle(Model.MesAnoCompetencia, (Guid)Model.ContaIdFiltro, "AlterarMes", "Home")
<div>
    
    @{
        var arrayDeSaldo = JsonConvert.DeserializeObject<IEnumerable<string>>(Model.GraficoSaldoPorCategoria.ArrayDeCategorias);
        if (arrayDeSaldo.Count() > 0)
        {
            <canvas class="visible-xs visible-sm" id="GraficoSaldoPorCategoria-Mobile" height="350"></canvas>
            <canvas class="visible-md visible-lg" id="GraficoSaldoPorCategoria-Desktop"></canvas>
        }
        else
        {
            <h4 class="text-center">Despesas por Categoria</h4>
            <div class="text-center text-primary">Não há informações suficientes para gerar o gráfico</div>
        }
    }

</div>
<br /><hr />
<div>
    <canvas id="graficoSaldoDoMes"></canvas>
</div>

@section Scripts {
<script src="~/Scripts/charts.js/Chart.bundle.min-2.3.0.js"></script>
<script src="~/Scripts/charts.js/GraficoSaldoDoMes.js"></script>
<script src="~/Scripts/charts.js/GraficoSaldoPorCategoria.js"></script>
<script type="text/javascript">
    gerarGraficoSaldoDoMes('@Model.GraficoSaldoDoMes.ArrayDeDias', '@Model.GraficoSaldoDoMes.ArrayDeReceitas',
        '@Model.GraficoSaldoDoMes.ArrayDeDespesas', '@Model.GraficoSaldoDoMes.ArrayDeSaldos');
    gerarGraficoSaldoPorCategoria('@Html.Raw(Model.GraficoSaldoPorCategoria.ArrayDeCategorias)',
        '@Html.Raw(Model.GraficoSaldoPorCategoria.ArrayDeCores)',
        '@Model.GraficoSaldoPorCategoria.ArrayDeSaldos');

    $(function () {
        $('#ContaIdFiltro').change(function () {
            $('#formFiltros').submit();
        });
    });
</script>
}