@model Moneta.Application.ViewModels.GraficosViewModel

<div class="jumbotron">
    <h2>Seja bem vindo ao $ Moneta!</h2>
    <p class="lead">Seu software de gestão financeira pessoal.</p>
</div>

@*<div class="form-horizontal">
        @using (Html.BeginForm("GraficoSaldoDoMes", "Lancamentos", new { @Model }, FormMethod.Get, new { id = "formFiltros" }))
        {
            @Html.DropDownList("ContaIdFiltro", (SelectList)@ViewBag.Contas, "-- Todas as Contas --", new { @class = "form-control" })
        }
    </div>*@

<div>
    <canvas id="graficoSaldoPorCategoria"></canvas>
</div>
<br /><hr />
<div>
    <canvas id="graficoSaldoDoMes"></canvas>
</div>


@section Scripts {
<script src="~/Scripts/charts.js/Chart.bundle.min-2.3.0.js"></script>
<script src="~/Scripts/charts.js/GraficoSaldoDoMes.js"></script>
<script src="~/Scripts/charts.js/GraficoSaldoPorCategoria.js"></script>
<script type="text/javascript">
    gerarGraficoSaldoDoMes('@Model.GraficoSaldoDoMes.ArrayDeDias', '@Model.GraficoSaldoDoMes.ArrayDeReceitas',
        '@Model.GraficoSaldoDoMes.ArrayDeDespesas', '@Model.GraficoSaldoDoMes.ArrayDeSaldos');
    gerarGraficoSaldoPorCategoria('@Html.Raw(Model.GraficoSaldoPorCategoria.ArrayDeCategorias)',
        '@Html.Raw(Model.GraficoSaldoPorCategoria.ArrayDeCores)',
        '@Model.GraficoSaldoPorCategoria.ArrayDeSaldos');

    $(function () {
        $('#ContaIdFiltro').change(function () {
            $('#formFiltros').submit();
        });
    });
</script>
}