@model IEnumerable<Moneta.Application.ViewModels.ContaViewModel>

@{
    ViewBag.Title = "Contas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adicionar Conta", "Create", null, new { @class = "btn btn-default" })
</p>

@using (Html.BeginForm("Index", "Contas", new {pesquisa = ""}, FormMethod.Get))
{
    <p>
        Pesquisar por Descrição: @Html.Editor("pesquisa") <input type="submit" value="Pesquisar" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a title="Editar"
                   href="@Url.Action("Edit", "Contas", new { id = item.ContaId })">
                    <i class="icon-white glyphicon glyphicon-edit"></i>
                </a>
                <a title="Remover" onclick="return confirm('Tem certeza que deseja remover?')"
                   href="@Url.Action("Delete", "Contas", new { id = item.ContaId })">
                    <i class="icon-white glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }
</table>
