@model Moneta.Application.ViewModels.TransferenciaViewModel
@using System.Web.Mvc
@using Moneta.Application.ViewModels;
@using Moneta.Infra.CrossCutting.Enums;

@{
    ViewBag.Title = "Nova Transferência";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formLancamento" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.LancamentoOrigem.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LancamentoOrigem.DescricaoMaisNumeroParcela)
                @Html.HiddenFor(model => model.LancamentoOrigem.Descricao)
                @Html.HiddenFor(model => model.LancamentoOrigem.LancamentoIdTransferencia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LancamentoOrigem.Valor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LancamentoOrigem.Valor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LancamentoOrigem.DataVencimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LancamentoOrigem.DataVencimento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LancamentoOrigem.Categoria)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LancamentoOrigem.Categoria.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LancamentoOrigem.Conta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LancamentoOrigem.Conta.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LancamentoOrigem.Observacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LancamentoOrigem.Observacao)
            </dd>
        </dl>

        <div class="alert alert-info">
            
            <div class="form-group">
                <strong class="control-label col-md-2">Conta Destino</strong>
                <div class="col-md-10">
                    @Html.DropDownList("ContaIdDestino", (SelectList)@ViewBag.Contas, "-- Selecione uma Conta --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContaIdDestino, "", new { @class = "text-danger" })
                </div>
            </div>

            <button class="btn btn-primary btn-sm">Criar</button>
        </div>
    </div>
}