@model Moneta.Application.ViewModels.TransferenciaViewModel
@using System.Web.Mvc
@using Moneta.Application.ViewModels;
@using Moneta.Infra.CrossCutting.Enums;

@{
    ViewBag.Title = "Nova Transferência";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", null, FormMethod.Post, new { id = "formLancamento" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h3>Extrato Bancário</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.LancamentoOrigem.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span style="vertical-align: -33%">
                    @Html.DisplayFor(model => model.LancamentoOrigem.Descricao)
                    @Html.HiddenFor(model => model.LancamentoOrigem.Descricao)
                    @Html.HiddenFor(model => model.LancamentoOrigem.CategoriaId)
                    @Html.HiddenFor(model => model.LancamentoOrigem.ExtratoBancarioId)
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LancamentoOrigem.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span style="vertical-align: -33%">
                    @Html.DisplayFor(model => model.LancamentoOrigem.Valor)
                    @Html.HiddenFor(model => model.LancamentoOrigem.Valor)
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LancamentoOrigem.DataVencimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span style="vertical-align: -33%">
                    @Html.DisplayFor(model => model.LancamentoOrigem.DataVencimento)
                    @Html.HiddenFor(model => model.LancamentoOrigem.DataVencimento)
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Conta Origem", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span style="vertical-align: -33%">
                    @Html.DisplayFor(model => model.LancamentoOrigem.Conta.Descricao)
                    @Html.HiddenFor(model => model.LancamentoOrigem.Conta.ContaId)
                    @Html.HiddenFor(model => model.LancamentoOrigem.Conta.Descricao)
                </span>
            </div>
        </div>
        
        <div class="form-group">
            <strong class="control-label col-md-2">Conta Destino</strong>
            <div class="col-md-10">
                @Html.DropDownList("ContaIdDestino", (SelectList)@ViewBag.Contas, "-- Selecione uma Conta --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContaIdDestino, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <span class="btn btn-default" onclick="javascript: window.history.back();">Cancelar</span>
            </div>
        </div>
    </div>
}