@model Moneta.Application.ViewModels.LancamentoViewModel
@using Moneta.Application.ViewModels;
@using Moneta.Infra.CrossCutting.Enums;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Detalhes do Lançamento";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        
        <dt>
        </dt>
        <dd>
            <div class="col-md-3">
                <h3 style="float:left"><span class="label" style="display:block; background-color: lightblue">Transferência</span></h3>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoMaisNumeroParcela)
            @Html.HiddenFor(model => model.Descricao)
            @Html.HiddenFor(model => model.LancamentoIdTransferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conta.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
        </dt>
        <dd>
            <p>
                <a class="btn btn-default" data-toggle="tooltip" title="Visualir transfência par"
                   href="@Url.Action("Details", "Transferencias", new { id = Model.LancamentoIdTransferencia })">
                    Ir para transferência par
                </a>
            </p>
        </dd>

        <dd>
            <a class="btn btn-default" onclick="javascript: window.history.back();">
                <i class="icon-white glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="Voltar"></i>
            </a>
            <a class="btn btn-default"
               href="@Url.Action("Edit", "Transferencias", new { id = Model.LancamentoId })">
                <i class="icon-white glyphicon glyphicon-edit" data-toggle="tooltip" title="Editar"></i>
            </a>
            <a class="btn btn-default"
               href="@Url.Action("Delete", "Lancamentos", new { Model.LancamentoId }) ">
                <i class="icon-white glyphicon glyphicon-trash" data-toggle="tooltip" title="Remover"></i>
            </a>
        </dd>
    </dl>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () { // will trigger when the document is ready
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}