@model Moneta.Application.ViewModels.ExtratoBancarioDoMesViewModel

@{
    ViewBag.Title = "Importar OFX do Extrato Bancário";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ImportarOfx", "ExtratosBancarios", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return IsValidForm()" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Conta", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(e => e.ContaIdFiltro, (SelectList)@ViewBag.Contas, "-- Selecione a Conta --", new { @class = "form-control", @value = Model.ContaIdFiltro })
        </div>

        <div class="form-group">
            @Html.LabelFor(e => e.MesAnoCompetencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <span style="vertical-align: -33%">
                @Model.MesAnoCompetencia.ToString("MMMM/yyyy").ToUpper()
                <input type="hidden" name="MesAnoCompetencia" id="MesAnoCompetencia" value="@Model.MesAnoCompetencia.ToString("yyyy-MM-dd")" />
            </span>
        </div>

        <div class="form-group">
            @Html.Label("Arquivo OFX", htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" accept=".ofx" id="caminhoOfx" name="caminhoOfx" class="btn btn-default" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Importar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para Listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function IsValidForm()
        {
            if ($('#contaIdFiltro').val() == "") {
                alert("Selecione uma conta!");
                return false;
            }
            else if ($('#caminhoOfx').val() == "") {
                alert("Selecione o arquivo OFX!");
                return false;
            }
            else {
                return true;
            }
        }
    </script>
}
