@model IEnumerable<ExtratoBancarioViewModel>
@using Moneta.Application.ViewModels

@{
    ViewBag.Title = "Extrato Bancário";
}

<h2>@ViewBag.Title</h2>

<p>
    <a class="btn btn-default" title="Importar OFX"
       href="@Url.Action("ImportarOfx", "ExtratosBancarios")">
        <i class="icon-white glyphicon glyphicon-import"></i>
    </a>

    <a id="botaoRemoverSelecionados" class="btn btn-default" title="Remover itens selecionados"
       href="javascript:validarSeExisteSelecionados()">
        <i class="icon-white glyphicon glyphicon-trash"></i>
    </a>
</p>

@using (Html.BeginForm("RemoverSelecionados", "ExtratosBancarios", FormMethod.Post, new { id = "formExtratos" }))
{
    @Html.AntiForgeryToken()
    
    <table class="table table-striped table-condensed">
        <tr>
            <th>
                @Html.CheckBox("selecionarTodos", false, new { @title = "Selecionar todos" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompensacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Ações
            </th>
        </tr>

        @{var extratos = Model.ToList();}
        @for(int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @if (extratos[i].Lancamento == null)
                    {
                        @Html.CheckBoxFor(x => extratos[i].Selecionado)
                        @Html.HiddenFor(x => extratos[i].ExtratoBancarioId)
                    }
                </td>
                <td>
                    @Html.DisplayFor(x => extratos[i].DataCompensacao)
                    @Html.HiddenFor(x => extratos[i].DataCompensacao)
                </td>
                <td>
                    @Html.DisplayFor(x => extratos[i].Descricao)
                    @Html.HiddenFor(x => extratos[i].Descricao)
                </td>
                <td>
                    @Html.DisplayFor(x => extratos[i].NumeroDocumento)
                    @Html.HiddenFor(x => extratos[i].NumeroDocumento)
                </td>
                <td>
                    @if (extratos[i].Valor > 0)
                    {
                        <span style="color:green">
                            @Html.DisplayFor(x => extratos[i].Valor)
                        </span>
                    }
                    else
                    {
                        <span style="color:red">
                            @Html.DisplayFor(x => extratos[i].Valor)
                        </span>
                    }               
                </td>
                <td>
                    @if (extratos[i].Lancamento == null)
                    {
                        <a title="Conciliar com um lançamento"
                           href="javascript:getLancamentosConciliacao('@extratos[i].ExtratoBancarioId')">
                            <i class="icon-white glyphicon glyphicon-link"></i>
                        </a>
                        <a title="Criar um lançamento a partir deste"
                           href="@Url.Action("CriarLancamento", "ExtratosBancarios", new { id = extratos[i].ExtratoBancarioId })">
                            <i class="icon-white glyphicon glyphicon-new-window"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
}

<!-- 
    Inicio da janela de conciliação
-->
<div id="janela-conciliacao" class="mascara">
    <div class="janela-conciliacao">

        <section class="col-lg-12">
            <h4 class="pull-left">
                <i class="icon-white glyphicon glyphicon-link"></i> Conciliação
            </h4>
            <a href="javascript:closeWindow()" class="pull-right btn-lg" style="" title="Fechar">
                <i class="icon-white glyphicon glyphicon-remove"></i>
            </a>
            <input type="hidden" id="extratoBancarioId" />
        </section>
        <br /><br /><br />
        <section class="col-lg-12">
            <table id="tableLancamentos" class="table table-striped table-condensed">
                <tbody>
                    <tr>
                        <th>Vencimento</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
<!--
    Fim da janela de conciliação
-->


@section Scripts {
    <script type="text/javascript">

        // Valida antes de submeter a requisição
        function validarSeExisteSelecionados()
        {
            var numberChecked = $('input:checkbox:checked').length;
            if (numberChecked == 0)
            {
                alert("Selecione pelo menos um item");
            }
            else
            {
                if(confirm("Deseja realmente continuar com a remoção?"))
                    document.getElementById('formExtratos').submit();
            }
        }

        // Pega Lançamentos para serem conciliados
        function getLancamentosConciliacao(id) {
            $.getJSON("/ExtratosBancarios/GetLancamentosConciliacao", { id: id }, function (data) {
                var lancamentosJson = JSON.parse(data.lancamentoJson);

                if (lancamentosJson.length > 0)
                {
                    for (var lancamento in lancamentosJson) {
                        $('#tableLancamentos tbody').append('<tr class="child espacoEntreColunas">' +
                            '<td>' + lancamentosJson[lancamento].DataVencimento + '</td>' +
                            '<td>' + lancamentosJson[lancamento].DescricaoResumida + '</td>' +
                            '<td>' + lancamentosJson[lancamento].Valor + '</td>' +
                            '<td><a href="javascript:conciliar(\'' + lancamentosJson[lancamento] + '\')" title="Conciliar este..."><i class="icon-white glyphicon glyphicon-link" ></i></a></td>' +
                            '</tr>');
                    }
                }
                else
                {
                    $('#tableLancamentos tbody').append('<tr colspan="4">Não há lançamentos sem conciliação</tr>');
                }

                $("#extratoBancarioId").val(id);
                $("#janela-conciliacao").fadeIn();
            });

        }

        // Envia o lançamento e extrato a serem conciliados
        function conciliar(lancamento) {
            var extratoBancarioId = $("#extratoBancarioId").val();

            $.post("/ExtratosBancarios/ConciliarLancamento", { lancamento: lancamento, extratoBancarioId: extratoBancarioId }, function (data) {
                if (data.status === "Ok") {
                    location.reload()
                }
                else {
                    alert("Erro ao realizar a conciliação!")
                    $("#janela-conciliacao").hide();
                }

            });
        }

        // Checkbox selecionar todos
        $("#selecionarTodos").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

        // Fecha janela de conciliação
        function closeWindow() {
            $("#janela-conciliacao").hide();
        }
    </script>
}

<style>
    tr.espacoEntreColunas > td
    {
      padding-right: 1em;
    }

    .janela-conciliacao {
        display: block;
        width: 600px;
        position: absolute;
        left: -100px;
        top: 0;
        background: #FFF;
        z-index: 9900;
        padding: 10px;
        border-radius: 10px;
        -webkit-box-shadow: -1px -8px 72px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -8px 72px -6px rgba(0,0,0,0.75);
        box-shadow: -1px -8px 72px -6px rgba(0,0,0,0.75);
    }

    .mascara {
        display: none;
        position: absolute;
        margin: 25%;
        top: 0;
        width: 100%;
        z-index: 9000;
        background-color: #000;
    }

    @@media only screen and (max-width: 992px) {

        .janela-conciliacao {
            display: block;
            width: 90%;
            position: absolute;
            left: -50px;
            top: 0;
            background: #FFF;
            z-index: 9900;
            padding: 10px;
            border-radius: 10px;
            -webkit-box-shadow: -1px -8px 72px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px -8px 72px -6px rgba(0,0,0,0.75);
            box-shadow: -1px -8px 72px -6px rgba(0,0,0,0.75);
        }

        .mascara {
            display: none;
            position: absolute;
            left: 0;
            margin: 20%;
            top: 0;
            width: 100%;
            z-index: 9000;
            background-color: #000;
        }
    }
</style>