@model Moneta.Application.ViewModels.LancamentoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem certeza que deseja remover?</h3>
<div>
@using (Html.BeginForm())
{
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.AntiForgeryToken()
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        @Html.HiddenFor(model => model.Descricao)
        @Html.HiddenFor(model => model.DataVencimento)
        @Html.HiddenFor(model => model.Valor)
        @Html.HiddenFor(model => model.Conta.Descricao)
        @Html.HiddenFor(model => model.DataCadastro)
        @Html.HiddenFor(model => model.CategoriaId)
        @Html.HiddenFor(model => model.ContaId)
        @Html.HiddenFor(model => model.LancamentoId)
        @Html.HiddenFor(model => model.Fake)
        @Html.HiddenFor(model => model.BaseDaSerie)
        @Html.HiddenFor(model => model.Pago)

    </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Listagem", "Index")
        </div>
}
</div>
