@model Moneta.Application.ViewModels.LancamentoViewModel

@{
    ViewBag.Title = "Detalhes do Lançamento";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conta.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {id = Model.LancamentoId}) |
    @Html.ActionLink("Voltar para Listagem", "Index")
</p>