@model Moneta.Application.ViewModels.LancamentoViewModel
@using Moneta.Application.ViewModels;
@using Moneta.Infra.CrossCutting.Enums;

@{
    ViewBag.Title = "Detalhes do Lançamento";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">     
        <dt>
        </dt>
        <dd>
            @{
                var cor = "lightcoral";
                if (Model.Transacao == TipoTransacaoEnum.Receita)
                {
                    cor = "lightgreen";
                }
            }
            <div class="col-md-3">
                <h3><span class="label" style="display:block; background-color: @cor">@Model.Transacao</span></h3>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conta.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-danger" title="Voltar"
       href="@Url.Action("Index", "Lancamentos", new { id = (Model.LancamentoId), ContaIdFiltro = Model.ContaId }) ">
        <i class="icon-white glyphicon glyphicon-arrow-left"></i>
    </a>
    <a class="btn btn-danger" title="Editar"
        href="@Url.Action("Edit", "Lancamentos", new { id = (Model.LancamentoId) })">
        <i class="icon-white glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger"
        href="@Url.Action("Delete", "Lancamentos", new { id = (Model.LancamentoId) }) ">
        <i class="icon-white glyphicon glyphicon-trash"></i>
    </a>
</p>