@model Moneta.Application.ViewModels.LancamentosViewModel

@{
    ViewBag.Title = "Lançamentos";
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Lancamentos", new { pesquisa = "" }, FormMethod.Post))
    {
        <div class="form-group col-md-12">
            <button type="submit" value="Novo" title="Adicionar um novo Lançamento" name="action:CriarLancamento" class="btn btn-danger" style="display:inline-block">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            @Html.DropDownListFor(model => model.ContaIdFiltro, (SelectList)@ViewBag.Contas, "-- Selecione uma Conta --", new { @class = "form-control", @style = "display:inline-block" })
            @Html.ValidationMessageFor(model => model.ContaIdFiltro, "", new { @class = "text-danger", @style = "display:inline-block" })
            @Html.TextBox("pesquisa", null, new { @class = "form-control", @placeholder = "Pesquisar pela Descrição", @style = "display:inline-block" })
            <button type="submit" value="Pesquisar" name="action:Pesquisar" class="btn btn-default" title="Pesquisar" style="display:inline-block">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    }
</div>

<table class="table">
    <tr style="background-color: #e6e6e6">
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

    @if (Model.Lancamentos.Count() == 0)
    {
        <tr>
            <td colspan="5" class="text-danger" align="center">Selecione uma Conta para mostrar os lançamentos relacionados</td>
        </tr>
    }
    else
    {
        foreach (var item in @Model.Lancamentos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVencimento)<br />
                    <a href="@Url.Action("Details", "Lancamentos", new { id = (item.LancamentoId) }) ">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </a>
                </td>
                <td>
                    <button class="btn btn-xs" style="background-color: @item.Categoria.Cor">
                        <i class="icon-white glyphicon glyphicon-th-list"></i>
                    </button><br />
                    @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @if (item.Pago)
                    {
                        <a class="btn" title="Clique para informar que não foi pago"
                           href="@Url.Action("TrocarPago", "Lancamentos", new { id = (item.LancamentoId), ContaIdFiltro = Model.ContaIdFiltro })">
                            <i class="icon-white glyphicon glyphicon-thumbs-up" style="color:green"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn" title="Clique para informar que foi pago"
                           href="@Url.Action("TrocarPago", "Lancamentos", new { id = (item.LancamentoId), ContaIdFiltro = Model.ContaIdFiltro })">
                            <i class="icon-white glyphicon glyphicon-thumbs-down" style="color:red"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    }
</table>
