@model Moneta.Application.ViewModels.GrupoLancamentoViewModel
@using Moneta.Application.ViewModels
@using Moneta.Infra.CrossCutting.Enums

<div>
    <button class="btn btn-primary" title="Adicionar Lançamento" onclick="javascript: adicionarLancamento()">
        <i class="icon-white glyphicon glyphicon-plus"></i>
    </button>
    <a class="btn btn-default" title="Adicionar Transferência"
       href="@Url.Action("AdicionarTransferencia", "GrupoLancamentos", new { grupoLancamentoId = Model.GrupoLancamentoId }) ">
        <i class="icon-white glyphicon glyphicon-transfer"></i>
    </a>
    <a class="btn btn-default" title="Importar OFX"
       href="@Url.Action("ImportarOfx", "GrupoLancamentos", new { @Model.ContaId, @Model.DataVencimento, @Model.GrupoLancamentoId })">
        <i class="icon-white glyphicon glyphicon-import"></i>
    </a>
    <button class="btn btn-default" title="Pesquisar Lançamento Dividido" onclick="javascript: pesquisarGrupoLancamento()">
        <i class="icon-white glyphicon glyphicon-search"></i>
    </button>
</div>
<br />
@if (ViewBag.quantidadeImportada != -1)
{
    <div>
        @if (@ViewBag.quantidadeImportada != null && @ViewBag.quantidadeImportada == 0)
        {
            <div class="alert alert-warning alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="Fechar">x</a>
                Nenhum registro foi importado por já estarem no sistema ou por não serem da mesma competência (mês/ano) da tela atual.
            </div>
        }
        else if (@ViewBag.quantidadeImportada != null && @ViewBag.quantidadeImportada > 0)
        {
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="Fechar">x</a>
                Foram importados @ViewBag.quantidadeImportada registros.
            </div>
        }
    </div>
}
<br />
<table class="table">
    <tr style="background-color: #e6e6e6">
        <th>
            @Html.DisplayName("Data")
            /
            @Html.DisplayNameFor(model => model.Lancamentos.First().Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lancamentos.First().Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lancamentos.First().Valor)
        </th>
    </tr>

    <tr>
        <td colspan="4"><b> Lançamentos Únicos:</b></td>
    </tr>
    @if (Model.Lancamentos.Count() == 0)
    {
        <tr>
            <td class="text-center" colspan="4"><i>Nenhum</i></td>
        </tr>
    }

    @foreach (var item in Model.Lancamentos.OrderBy(l => l.DataVencimento))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimento)

                <span class='visible-md-inline visible-lg-inline'>
                    <a href="/Lancamentos/DetailsLancamentoAgrupado?id=@item.LancamentoId">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </a>
                </span>
                <span class='visible-xs visible-sm'>
                    <a href="/Lancamentos/DetailsLancamentoAgrupado?id=@item.LancamentoId">
                        @Html.DisplayFor(modelItem => item.DescricaoResumida)
                    </a>
                </span>
            </td>
            <td>
                <div id="divCategoriaDisplay_@item.LancamentoId" onclick="mostrarEdicao('@item.LancamentoId')" title="Clique para editar a categoria">
                    <button id="btnCategoria_@item.LancamentoId" class='btn' style='background-color:@item.Categoria.Cor'></button>
                    <span id="spanLoading_@item.LancamentoId"></span>
                    <span id="spanCategoriaDescricao_@item.LancamentoId">&nbsp;@item.Categoria.Descricao</span>
                </div>
                <div id="divCategoriaEdit_@item.LancamentoId" style="display: none">
                    @Html.DropDownList("Categoria_" + item.LancamentoId, (SelectList)@ViewBag.Categorias, null, new { @class = "form-control", @style = "max-width:150px; display:inline" })
                    <button class='btn btn-xs btn-primary' title="Salvar" onclick="salvarEdicao('@item.LancamentoId')">
                        <i class="icon-white glyphicon glyphicon-floppy-save"></i>
                    </button>
                    <button class='btn btn-xs btn-danger' title="Cancelar" onclick="esconderEdicao('@item.LancamentoId')">
                        <i class="icon-white glyphicon glyphicon-remove-circle"></i>
                    </button>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
        </tr>
    }

    <tr>
        <td colspan="4"><b> Lançamentos Divididos:</b></td>
    </tr>
    @if (Model.GruposDeLancamentos.Count() == 0)
    {
        <tr>
            <td class="text-center" colspan="4"><i>Nenhum</i></td>
        </tr>
    }

    @foreach(var grupo in Model.GruposDeLancamentos.OrderBy(l => l.DataVencimento))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => grupo.DataVencimento)
            </td>
            <td>
                <a href="/GrupoLancamentos/Details?id=@grupo.GrupoLancamentoId">
                    @Html.DisplayFor(modelItem => grupo.Descricao)
                </a>
            </td>
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => grupo.Valor)                
            </td>
        </tr>
    }
</table>
