@model Moneta.Application.ViewModels.GrupoPesquisaViewModel
@using Newtonsoft.Json

<div class="autoScrollTable">
    <table id="tableLancamentos" class="table table-striped table-condensed">
        <tbody>
            <tr>
                <th colspan="4">Lançamentos</th>
            </tr>

            @if (Model.Grupos != null && Model.Grupos.Count() > 0)
            {
                var grupos = Model.Grupos.ToList();
                for (int i = 0; i < grupos.Count(); i++)
                {
                    <tr class="child">
                        <td>
                            @Html.RadioButton("radio_lancamentos", grupos[i].GrupoLancamentoId)
                            <input type="hidden" id="Grupo_@grupos[i].GrupoLancamentoId"
                                    value="@JsonConvert.SerializeObject(grupos[i])">
                        </td>
                        <td>@Html.DisplayFor(l => grupos[i].DataVencimento)</td>
                        <td>@Html.DisplayFor(l => grupos[i].Descricao)</td>
                        <td>@Html.DisplayFor(l => grupos[i].Valor)</td>
                    </tr>
                }
            }
            else
            {
                <tr class="child">
                    <td>Não há lançamentos para o filtro informado</td>
                </tr>
            }
        </tbody>
    </table>
</div>

