@model Moneta.Application.ViewModels.GrupoLancamentoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Grupo de Lançamento</h4>
    <div>
        <a class="btn btn-default" title="Voltar" onclick="javascript: window.history.back();">
            <i class="icon-white glyphicon glyphicon-arrow-left"></i>
        </a>
        <a class="btn btn-default" title="Editar"
           href="@Url.Action("Edit", "GrupoLancamentos", new { id = Model.GrupoLancamentoId })">
            <i class="icon-white glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-default" title="Remover" onclick="return confirm('Tem certeza que deseja remover?')"
           href="@Url.Action("Delete", "GrupoLancamentos", new { id = Model.GrupoLancamentoId }) ">
            <i class="icon-white glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conta.Descricao)
        </dd>
    </dl>

    <hr />
    <div>
        @Html.Partial("_LancamentosDoGrupo", Model)
    </div>
</div>

