@model Moneta.Application.ViewModels.GrupoLancamentoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Grupo de Lançamento</h4>
    <div>
        <a class="btn btn-default" title="Voltar" onclick="javascript: window.history.back();">
            <i class="icon-white glyphicon glyphicon-arrow-left"></i>
        </a>
        <a class="btn btn-default" title="Editar"
           href="@Url.Action("Edit", "GrupoLancamentos", new { id = Model.GrupoLancamentoId })">
            <i class="icon-white glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-default" title="Remover" onclick="return confirm('Tem certeza que deseja remover?')"
           href="@Url.Action("Delete", "GrupoLancamentos", new { id = Model.GrupoLancamentoId }) ">
            <i class="icon-white glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conta.Descricao)
        </dd>
    </dl>

    <hr />
    <div>
        @Html.Partial("_LancamentosDoGrupo", Model)
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function salvarEdicao(lancamentoId)
        {
            var categoriaSelecionada = $("#Categoria_" + lancamentoId + " option:selected").text();
            $("#spanCategoriaDescricao_" + lancamentoId).html("&nbsp" + categoriaSelecionada);
            $("#btnCategoria_" + lancamentoId).hide();
            $("#spanLoading_" + lancamentoId).html('<img src="/Content/images/loading.gif" heigth="25" width="25">');
            esconderEdicao(lancamentoId);
            processarEdicao(lancamentoId, $('#Categoria_' + lancamentoId).val());
        }

        function mostrarEdicao(lancamentoId) {
            $('#divCategoriaEdit_' + lancamentoId).show();
            $('#divCategoriaDisplay_' + lancamentoId).hide();
        }
        function esconderEdicao(lancamentoId) {
            $('#divCategoriaEdit_' + lancamentoId).hide();
            $('#divCategoriaDisplay_' + lancamentoId).show();
        }

        function processarEdicao(lancamentoId, categoriaId) {
            $.post("/Lancamentos/EditarCategoria",
                { lancamentoId: lancamentoId, categoriaId: categoriaId },
                function (data) {
                    if (data.status === "Ok") {
                        location.reload();
                    }
                    else {
                        alert("Erro ao salvar a categoria!");
                    }
                }
            );
        }
    </script>
}