@model Moneta.Application.ViewModels.GrupoLancamentoViewModel

@{
    ViewBag.Title = "Importar OFX do Cartão de Crédito";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ImportarOfx", "GrupoLancamentos", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return IsValidForm()" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Conta", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(e => e.ContaId, (SelectList)@ViewBag.Contas, "-- Selecione a Conta --", new { @class = "form-control", @value = Model.ContaId })
            @Html.HiddenFor(g => g.GrupoLancamentoId)
        </div>

        <div class="form-group">
            @Html.Label("Mês/Ano", htmlAttributes: new { @class = "control-label col-md-2" })
            <span style="vertical-align: -33%">
                @Model.DataVencimento.ToString("MMMM/yyyy").ToUpper()
                <input type="hidden" name="DataVencimento" id="DataVencimento" value="@Model.DataVencimento.ToString("yyyy-MM-dd")" />
            </span>
        </div>

        <div class="form-group">
            @Html.Label("Arquivo OFX", htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" accept=".ofx" id="caminhoOfx" name="caminhoOfx" class="btn btn-default" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Importar" class="btn btn-primary" />
                <span class="btn btn-default" onclick="javascript: window.history.back();">Cancelar</span>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function IsValidForm() {
            if ($('#contaIdFiltro').val() == "") {
                alert("Selecione uma conta!");
                return false;
            }
            else if ($('#caminhoOfx').val() == "") {
                alert("Selecione o arquivo OFX!");
                return false;
            }
            else {
                return true;
            }
        }
    </script>
}
